.issue
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
img{
    width: 30%;
    padding-top: 50px ;
}
h2{
    text-transform: capitalize;
    font-weight: 700;
}
.test{
    color: #F6E0A4;
    text-transform: uppercase;
    font-weight: 700;
}
.text{
    color: #ff608c;
}
p{
    font-weight: bold;
}
.keep-going{
    background-color:#f5e3c6;
}
.keep-going h1{
     text-transform: uppercase;
     font-weight: 900;
     
}
.sale{
    background-color:  #ff608c;
}
.alphabeth{
    background-color: #ffff;
}
.designers{
    background-color:#00C1B5

}
.ryan{
    background-color: #FF6519;

}
.hartmut{
    background-color:#FFBE00;

}
.oliviero{
    background-color: #1D3FBB;

}
.michael{
    background-color: #E30512;

}